In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import (mean_squared_error, r2_score, confusion_matrix,
cohen_kappa_score, accuracy_score, mean_absolute_error)
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
import plotly.express as px

ModuleNotFoundError: No module named 'plotly'

In [ ]:
Used_biked=pd.read_csv('../data/RAW/Used_Bikes.csv')
Used_biked

In [ ]:
# drop duplicates based on all columns
Used_biked.drop_duplicates(inplace=True)

In [ ]:
Used_biked.columns

In [ ]:
Used_biked['brand'].unique()

In [ ]:
data=Used_biked
# Replace 'BrandName' with the name of your brand column and 'Price' with the name of your price column
brand_counts = pd.DataFrame(data[['brand']].value_counts()).rename(columns={0:'Brand_counts'})
brand_mean_prices = pd.DataFrame(data.groupby('brand')['price'].mean())


# Replace 'YourBrandName' with the name of your brand
your_brand_counts = brand_counts['Brand_counts']
# your_brand_counts
your_brand_mean_price = brand_mean_prices['price']
# your_brand_mean_price
# Print the counts and mean price for your brand
print('Number of products with your brand:', your_brand_counts)
print('Mean price of products with your brand:', your_brand_mean_price)

# Plot the brand counts
brand_counts.plot(kind='bar', title='Product Count by Brand')

# Show the plot
plt.show()

In [ ]:
your_brand_counts=pd.DataFrame(your_brand_counts)
your_brand_counts.reset_index(inplace=True)
your_brand_counts

In [ ]:
your_brand_mean_price=pd.DataFrame(your_brand_mean_price)
your_brand_mean_price.reset_index(inplace=True)
your_brand_mean_price

In [ ]:
brand_pricing_counts=your_brand_mean_price.merge(your_brand_counts)
brand_pricing_counts

In [ ]:
# Compute the correlation matrix
corr_matrix = Used_biked.corr()

# Create the heatmap using seaborn
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', vmin=-1, vmax=1)

# Show the plot
plt.show()

# Show price changes based on power

In [ ]:
grouped_power=Used_biked.groupby(['power', 'kms_driven', 'age'])[['price', 'city']].mean()
grouped_power.reset_index(inplace=True)
grouped_power.sort_values(by='price', ascending=False).head(10)

In [ ]:
plt.scatter(x=grouped_power['power'], y=grouped_power['price'])
plt.xlabel('power')
plt.ylabel('Price')
plt.title('Average Price by Power')
plt.show()

In [ ]:
fig = px.scatter(grouped_power, x='power', y='price', title='Average Price by Power')
fig.update_xaxes(title_text='power')
fig.update_yaxes(title_text='Price')
fig.show()

In [ ]:
outliers_power = Used_biked[~Used_biked['power'].isin([107, 1700])]
outliers_power

In [ ]:
grouped_power=outliers_power.groupby(['power', 'kms_driven', 'age'])[['price', 'city']].mean()
grouped_power.reset_index(inplace=True)
grouped_power.sort_values(by='price', ascending=False).head(10)

In [ ]:
fig = px.scatter(outliers_power, x='power', y='price', title='Average Price by Power')
fig.update_xaxes(title_text='power')
fig.update_yaxes(title_text='Price')
fig.show()

# Show price changes based on age

In [ ]:
grouped_age=outliers_power.groupby(['age'])[['price']].mean()
grouped_age.reset_index(inplace=True)
grouped_age

In [ ]:
plt.scatter(x=grouped_age['age'], y=grouped_age['price'])
plt.xlabel('age')
plt.ylabel('Price')
plt.title('Average Price by age')
plt.show()

In [ ]:
grouped_age=Used_biked.groupby(['age'])[['price']].mean()
grouped_age.reset_index(inplace=True)
grouped_age

In [ ]:
fig = px.scatter(grouped_age, x='age', y='price', title='Average Price by Age')
fig.update_xaxes(title_text='Age')
fig.update_yaxes(title_text='Price')
fig.show()

In [ ]:
outliers_age=Used_biked[(Used_biked['age'] != 63) & (Used_biked['age'] != 1)] 
outliers_age                  
# & (Used_biked['price'].eq('299.8k'))]

In [ ]:
grouped_age=Used_biked.groupby(['age'])[['price']].mean()
grouped_age.reset_index(inplace=True)
grouped_age

In [ ]:
fig = px.scatter(grouped_age, x='age', y='price', title='Average Price by Age')
fig.update_xaxes(title_text='Age')
fig.update_yaxes(title_text='Price')
fig.show()

# Show price changes based on km_driven

In [ ]:
grouped_km=Used_biked.groupby(['kms_driven'])[['price']].mean()
grouped_km.reset_index(inplace=True)
grouped_km

In [ ]:
plt.scatter(x=grouped_km['kms_driven'], y=grouped_km['price'])
plt.xlabel('kms_driven')
plt.ylabel('Price')
plt.title('Average Price by kms_driven')
plt.show()

In [ ]:
fig = px.scatter(grouped_km, x='kms_driven', y='price', title='Average Price by Kms Driven')
fig.update_xaxes(title_text='Kms Driven')
fig.update_yaxes(title_text='Price')
fig.show()

# Top 10 cities that generated a lot of income compared to others

In [ ]:
city_high_income=Used_biked.groupby('city')[['price']].mean().sort_values(by='price', ascending=False).head(10)
city_high_income.reset_index(inplace=True) 

# Now you can use city_high_income to plot the bar chart
city_high_income.plot(x='city', y='price', kind='bar')

# The most sold ownership type

In [ ]:
pd.DataFrame(Used_biked[['owner']].value_counts()).reset_index().rename(columns={0: 'counts'})

In [ ]:
ownership_income=Used_biked.groupby('owner')[['price']].mean().sort_values(by='price', ascending=False).head(10)
ownership_income.reset_index(inplace=True)
ownership_income.round(2)

In [ ]:
ownership_count=Used_biked.groupby('owner')[['price']].count().sort_values(by='price', ascending=False).head(10)
ownership_count.reset_index(inplace=True) 
ownership_count

In [ ]:
# Now you can use city_high_income to plot the bar chart
ownership_income.plot(x='owner', y='price', kind='bar')
ownership_count.plot(x='owner', y='price', kind='bar')

In [ ]:
Used_biked.to_csv('../data/CLEAN/final_data.csv', index=False)